apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend-app
  template:
    metadata:
      labels:
        app: backend-app
    spec:
      containers:
      - name: backend-app
        image: us-central1-docker.pkg.dev/backend-gke-project/backend-repo/backend-app:latest
        ports:
        - containerPort: 8080
